@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
  overscroll-behavior: none;
}

@layer components {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  img {
    @apply select-none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  input[type="range"]::-webkit-slider-thumb.no-thumb-range {
    -webkit-appearance: none;
  }

  input[type="range"]::-moz-range-thumb.no-thumb-range {
  }

  input[type="range"]::-ms-thumb.no-thumb-range {
  }
}
